<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<link rel="stylesheet" href="static/style.css" />   
</head>    
<body>    
    <center> <h1 style="color: black;"> Login Form </h1> </center>   
    <form>  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit">Login</button>
            <p style="text-align: center;">Don't have an account? <a href="/register" class="btn" style="color: azure;">Register</a></p>   
        </div>   
    </form>     
</body>     
</html>  